input{
    margin-left: 20px;
    cursor: pointer;
}
input:hover{
    background: red;
}

#submit{
    width: 40%;
    font-size: 25px;
    margin-left: 320px;
    margin-top: 50px;
}

#reloadBtn{
    width: 40%;
    font-size: 25px;
    margin-left: 320px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.myContainer{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px 100px;
    margin-top: 60px;
}

.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth, .nineth, .tenth{
    margin: 15px;
}

#correctAns, #wrongAns, #reload{
    font-size: 25px;
    font-weight: bold;
}

#reload{
    font-size: 40px;
}

.question1, .question2, .question3, .question4, .question5, .question6, .question7, .question8, .question9, .question10{
    display: inline-block;
}

#onSubmit1, #onSubmit2, #onSubmit3, #onSubmit4, #onSubmit5, #onSubmit6, #onSubmit7, #onSubmit8, #onSubmit9, #onSubmit10{
    display: inline-block;
    margin: 10px;
}

.style{
    font-size: 28px;
    font-family: cursive;
    color: white;
}

footer{
    background: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;

}
